<div class="backend-header flex-space">
    <div>
        <span class="admin"><i class="layui-icon layui-icon-set-fill" style="font-size: 18px;margin-left: -10px"></i><a
                    href="/admin">畅球信息科技管理后台</a></span>
    </div>
    <div class="flex-cc pr-40">
        <div class="user weintern-font-larger mr-20">欢迎您，<a href="/admin/userCenter"
                                                            class="font-italic"><%= localUser.name %></a>
        </div>
        <div class="logout"><a href="/admin/loginout">退出</a></div>
    </div>
</div>