<!-- Footer Main -->
<footer id="footer-main" class="footer-main container-fluid no-left-padding no-right-padding">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- wechat -->
            <div class="col-md-2 col-sm-4 col-xs-4">
                <aside class="widget widget_about">
                    <h3 class="widget-title">官方微信</h3>
                    <div>
                        <img src="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/img/ewm.png" alt="官方微信">
                    </div>
                </aside>
            </div>
            <!-- wechat /- -->
            <!-- Widget Links -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <aside class="widget widget_links">
                    <h3 class="widget-title">快速链接</h3>
                    <ul>
                        <li><a href="/index" title="">首页</a></li>
                        <li><a href="/product" title="产品展示">产品展示</a></li>
                        <li><a href="/project" title="工程案例">工程案例</a></li>
                        <li><a href="/news" title="新闻资讯">新闻资讯</a></li>
                        <li><a href="/about" title="关于我们">关于我们</a></li>
                        <li><a href="/contact" title="联系我们">联系我们</a></li>
                    </ul>
                </aside>
            </div><!-- Widget Links /- -->
            <!-- Widget Links -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <aside class="widget widget_services">
                    <h3 class="widget-title">友情链接</h3>
                    <ul class="friendLink">
                    </ul>
                </aside>
            </div><!-- Widget Links /- -->
            <!-- Widget Info -->
            <div class="col-md-4 col-sm-8 col-xs-8">
                <aside class="widget widget_info company-info">
                    <h3 class="widget-title">联系我们</h3>
                </aside>
            </div>
            <!-- Widget Info /- -->
        </div><!-- Row /- -->
    </div><!-- Container /- -->
</footer><!-- Footer Main /- -->

<div class="copyright-section container-fluid no-left-padding no-right-padding">
    <!-- Container -->
    <div class="container">
        <p class="mt-10">上海畅球智能科技有限公司 2006-2016 版权所有</p>
        <p class="mt-10">&copy; Copyright 2006-2016 Auto Parts All Right Reserved</p>
        <div class="mb-10">
            <p>
							<a href="http://www.beian.miit.gov.cn" style="color: #1696e7;">
								<img src="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/img/gsj.png" class="mr-10" alt="备案">沪ICP备16044646号
							</a>
						</p>
        </div>
    </div><!-- Container /- -->
    <div></div>
</div>
</div>

<!-- JQuery v1.11.3 -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

<!-- Library - Js -->
<script src="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/js/lib.js"></script>

<!--bootstrap.js-->
<script src="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/js/bootstrap.js" type="text/javascript"></script>
<!--<script src="/js/bootstrap.js"></script>-->

<!-- Library - Theme JS -->
<script src="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/js/functions.js"></script>
<!--<script src="/js/functions.js"></script>-->
<!-- All js here -->
<script type="text/javascript">
	$(document).ready(function () {

		// 获取友情链接
		$.ajax({
			type: 'GET',
			url: '/index/friendLink'
		}).done(function (res) {
			if (res.success === 1) {
				var friendLinks = res.data.friendLinks;
				var htmlStr = '';
				friendLinks.forEach(function (friendLink, index) {
					htmlStr += "<li><a href='" + friendLink.url + "' target='_blank'>" + friendLink.title + "</a></li>"
				})
				$(".friendLink").html(htmlStr);
			}
		})

		// 获取公司信息
		$.ajax({
			type: 'GET',
			url: '/index/companyInfo'
		}).done(function (res) {
			if (res.success === 1) {
				var companyInfo = res.data.companyInfo;
				var ele = $('.company-info');
				var headerEle = $('.header-company-info');
				if (companyInfo && companyInfo.tel) {
					ele.append("<p><i class='icon icon-Phone2'></i><span>咨询热线: </span><a href='tel:" + companyInfo.tel + "' title='" + companyInfo.tel + "'>" + companyInfo.tel + "</a></p>")
					headerEle.append("<p><i class='icon icon-Phone2'></i><a href='tel:" + companyInfo.tel + "' title='" + companyInfo.tel + "'>" + companyInfo.tel + "</a></p>");
				}
				if (companyInfo && companyInfo.phoneNumber) {
					ele.append("<p><i class='icon icon-Phone'></i><span>销售热线: </span><a href='tel:" + companyInfo.phoneNumber + "' title='" + companyInfo.phoneNumber + "'>" + companyInfo.phoneNumber + "</a></p>")

				}
				if (companyInfo && companyInfo.email) {
					ele.append("<p><i class='icon icon-Mail'></i><span>联系邮箱: </span><a href='mailto:" + companyInfo.email + "' title='" + companyInfo.email + "'>" + companyInfo.email + "</a></p>")
					headerEle.append("<p><i class='icon icon-Mail'></i><a href='mailto:" + companyInfo.email + "' title='" + companyInfo.email + "'>" + companyInfo.email + "</a></p>");
				}
				if (companyInfo && companyInfo.address) {
					ele.append("<p><i class='icon icon-House'></i><span>公司地址: </span>" + companyInfo.address + "</p>")
				}
				ele.append("<p><i class='icon icon-Time'></i><span>服务时间: </span> 00:00 - 24:00 </p>")
				headerEle.append("<p><i class='icon icon-Time'></i><a href='javascript:;'>00:00 - 24:00</a></p>");
			}
		})

		// 获取所有产品种类
		$.ajax({
			type: 'GET',
			url: '/index/productCategory'
		}).done(function (res) {
			if (res.success === 1) {
				var productCategorys = res.data.productCategorys;
				var product_category_menu = $('.product-category-menu');
				var menu_htmlStr = '';
				productCategorys.forEach(function (productCategory, index) {
					menu_htmlStr += "<li><a href='/product/category/" + productCategory._id + "'>" + productCategory.name + "</a></li>"
				})
				product_category_menu.html(menu_htmlStr);
			}
		})


	})
</script>
