<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="上海畅球智能科技;安防智能解决方案提供者">
    <meta name="author" content="dyh_sjtu">

    <title>上海畅球智能科技</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/img/favor.jpg" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/img/apple-touch-icon-114x114-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/img/apple-touch-icon-57x57-precomposed.png">

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/revolution/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/revolution/fonts/font-awesome/css/font-awesome.min.css">

    <!-- Library - Bootstrap v3.3.5 -->
    <link href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/css/lib.css" rel="stylesheet">
    <link href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/css/default.css" rel="stylesheet">
    <!--<link href="/css/default.css" rel="stylesheet">-->

    <!-- Custom - Common CSS -->
    <link href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/css/plugins.css" rel="stylesheet">
    <link href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/css/elements.css" rel="stylesheet">
    <!--<link href="/css/elements.css" rel="stylesheet">-->
    <link href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/css/rtl.css" rel="stylesheet">

    <!-- Custom - Theme CSS -->
    <link rel="stylesheet" type="text/css" href="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?297c836cb53350f13d60b284a65477a1";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>