<% include ../includes/backend-head.ejs %>
<body>
<div class="layui-container">
    <div class="layui-row flex-cc" style="margin-top: 300px;">
        <span class="weintern-font-larger weintern-red-normal"><%= msg %></span>
    </div>
    <div class="layui-row flex-cc">
        <a href="/" style="margin-top: 20px">
            <button class="layui-btn layui-btn-normal">返回首页</button>
        </a>
    </div>
</div>
</body>

