<% include ../includes/head.ejs %>
<body>
<% include ../includes/header.ejs %>
<div class="wrapper-box p-0">
    <div class="promotion-area mt-50">
        <div class="container gray-bg">
            <div class="pt-20 pb-15 blog-post-items">
                <div class="blog-wrapper mb-40">
                    <div class="card-title text-center mt-20 mb-15">
                        <h4 class="mt-20">
                            <%= newsItem.title %>
                        </h4>
                    </div>
                    <hr style="margin: 10px 0"/>
                    <div class="meta-info">
                        <div class="card-title text-center mt-10 mb-10">
                            <h6 style="color:#9e9e9e;">
                                <%= moment(newsItem.time).format("YYYY-MM-DD") %>
                            </h6>
                        </div>
                    </div>
                    <div class="news-container">
                        <%- newsItem.content %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
</body>