<% include ../includes/head.ejs %>
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
<div class="main-container">
    <% include ../includes/header.ejs %>
    <% include service-html.ejs %>
    <% include ../includes/footer.ejs %>
</div>
</body>