<% include ../includes/backend-head.ejs %>
<body>
<div class="container">
    <div class="status"
         style="margin:140px auto;width:520px;border:1px solid #d9d9dd;border-radius:5px;text-align:center;padding:60px 0;">
        <% if(code == 1) { %>
        <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #1E9FFF;"></i>
        <% } else { %>
        <i class="layui-icon layui-icon-face-cry" style="font-size: 30px; color: #1E9FFF;"></i>
        <% } %>
        <h3 style="padding:10px 0"><%= tips %></h3>
        <a id="button" class="layui-btn" href="javascript:;" data-href="<%= href %>">
           <span id="number">3</span><span>秒后返回...</span>
        </a>
    </div>
</div>
<script type="text/javascript">
	var s = 3;

	function num() {
		$("#number").html(s);
		s--;
		if (s <= 0) {
			clearInterval(SetNum);
			window.location.href = $("#button").data("href");
		}
	}

	function SetNum() {
		setInterval(num, 1000);
	}

	window.onload = function () {
		SetNum();
	}
</script>
</body>